[package]
name = "state-manager"
version = "0.1.0"
edition = "2021"

[dependencies]
jni = "0.19.0"
tracing = { version = "0.1" }
parking_lot = { version = "0.12" }
prometheus = { version = "0.13.2", default-features = false, features = [] }

# DEPENDENCIES ON RADIXDLT-SCRYPTO
#
# To make builds reproducible, for merged in node code, please specify a fixed tag below, not a branch.
# 
# * In development, feel free to use branch="branch-name", instead of tag="X"
# * When ready to put in a PR to the node, please merge your upstream PR into develop.
# * Then create a tag in radixdlt-scrypto against the develop branch:
#   $ git checkout develop
#   $ git pull
#   $ git rev-parse --short HEAD
#   $ git tag "develop-<8 char hash id from previous command>"
#   $ git push origin "develop-BLAH"
# * Then use tag="develop-BLAH" in the below dependencies.
# 
# Ensure this version is also identically updated in ../core-api-server/Cargo.toml
#
sbor = { git = "https://github.com/radixdlt/radixdlt-scrypto", tag = "replace-jemalloc-d8bbe7", features = ["serde"] }
transaction = { git = "https://github.com/radixdlt/radixdlt-scrypto", tag = "replace-jemalloc-d8bbe7" }
radix-engine-common = { git = "https://github.com/radixdlt/radixdlt-scrypto", tag = "replace-jemalloc-d8bbe7", features = ["serde"]  }
radix-engine-interface = { git = "https://github.com/radixdlt/radixdlt-scrypto", tag = "replace-jemalloc-d8bbe7", features = ["serde"]  }
radix-engine = { git = "https://github.com/radixdlt/radixdlt-scrypto", tag = "replace-jemalloc-d8bbe7" }
radix-engine-constants = { git = "https://github.com/radixdlt/radixdlt-scrypto", tag = "replace-jemalloc-d8bbe7" }
radix-engine-stores = { git = "https://github.com/radixdlt/radixdlt-scrypto", tag = "replace-jemalloc-d8bbe7" }
utils = { git = "https://github.com/radixdlt/radixdlt-scrypto", tag = "replace-jemalloc-d8bbe7" }

# Non-Radix Engine Dependencies:
blake2 = { version = "0.10.6", default-features = false }
rocksdb = { version = "0.19.0" }
hex = { version = "0.4.3", default-features = false }
bech32 = { version = "0.9.0", default-features = false }
lru = { version = "0.8.0", default-features = false }    # https://docs.rs/lru/latest/lru/
slotmap = "1.0.6"
im = "15.1.0"
rand = "0.8.5"
lazy_static = "1.4.0"