# This config is (for now) intended to allow a single validator to run natively in the development environment.
# That is, it matches up with "Run Single Validator" IntelliJ run task, which runs:
# RADIXDLT_HOST_IP_ADDRESS=127.0.0.1 RADIXDLT_NODE_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY= ./gradlew :core:run --info

network.id=240

# The below comes from running ./gradlew -P "validators=1" -P "network=localnet" ":cli-tools:generateDevGenesis"
# Or running "Generate Single Validator Genesis" IntelliJ task
network.genesis_data=/wYAAHNOYVBwWQBgAQB8elLt4AMUXCEFCgEACQEABQkHKAAAIQkJZAAAAAr0DRoICrgLCRsMCrSSBAUKCArgBwUIHACgAEB6EPNaCQ1OAQAgoAAAn3j3Ey8NTh0AAQEICoAfAQcQAAAKwA8JCeggIgIAASAhAQYgByED//l71XVe7qQgRToUNVI104L2Ry+FaKGLLwV6FGApdVYBAQEBoAAAZKeztuANAAlBQgEA8IsgIQICDARuYW1lIgABDBNEZWZhdWx0IHZhbGlkYXRvciAxAgwDdXJsIg0BDBhodHRwczovL3d3dy5yYWRpeGRsdC5jb22A0V2lblLuqlWNSPddLPYcqXQbJq7Y9QscHefNoU86AQIggAHR0ouStuhEmbg7B5fvUjVVPut+2qDOokPBEowv5zcgIQECIIrUAAEoAAkBxQygAABkctkANKAAAABA6u10RtCcLJ8MATM4AAAAAAAAAAAAAAAAAAAA