# This config is (for now) intended to allow a single validator to run natively in the development environment.
# That is, it matches up with "Run Single Validator" IntelliJ run task, which runs:
# RADIXDLT_HOST_IP_ADDRESS=127.0.0.1 RADIXDLT_NODE_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY= ./gradlew :core:run --info

network.id=240

# The below comes from running ./gradlew -P "validators=1" ":cli-tools:generateDevUniverse"
network.genesis_txn=03fff97bd5755eeea420453a14355235d382f6472f8568a18b2f057a1460297556
