# THIS CONFIGURATION IS NOT INTENDED FOR PRODUCTION USE
# See https://docs.radixdlt.com for details on running a node in production
# This config is intended to allow a single node to run natively in the development environment

network.id=1

node.key.path=.//NODEMOUNT/mainnet/key/node.ks
node.key.create_if_missing=true

db.location=.//NODEMOUNT/mainnet/ledger

network.p2p.seed_nodes=radix://node_rdx1qf2x63qx4jdaxj83kkw2yytehvvmu6r2xll5gcp6c9rancmrfsgfw0vnc65@52.212.35.209,radix://node_rdx1qgxn3eeldj33kd98ha6wkjgk4k77z6xm0dv7mwnrkefknjcqsvhuu4gc609@54.79.136.139,radix://node_rdx1qwrrnhzfu99fg3yqgk3ut9vev2pdssv7hxhff80msjmmcj968487uugc0t2@43.204.226.50,radix://node_rdx1q0gnmwv0fmcp7ecq0znff7yzrt7ggwrp47sa9pssgyvrnl75tvxmvj78u7t@52.21.106.232