# This config is intended to allow a single validator to run natively in the development environment,
# and sets it up so that it uses an Olympia node as a source for its genesis transaction.
# It matches up with "Run Single Validator Olympia Genesis" IntelliJ run task, which runs:
# RADIXDLT_HOST_IP_ADDRESS=127.0.0.1 RADIXDLT_NODE_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY= ./gradlew :core:run --info

network.id=240

genesis.use_olympia=true
genesis.olympia.node_end_state_api_url=http://127.0.0.1:3333/
# Fill the values below (leave user/password empty if not using a proxy)
genesis.olympia.node_end_state_api_auth_user=
genesis.olympia.node_end_state_api_auth_password=
genesis.olympia.node_bech32_address=
