# This config is intended to allow a single validator to run natively in the development environment,
# and sets it up so that it uses an Olympia node as a source for its genesis transaction.
# It matches up with "Run Single Validator Olympia Genesis" IntelliJ run task, which runs:
# RADIXDLT_HOST_IP_ADDRESS=127.0.0.1 RADIXDLT_NODE_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY= ./gradlew :core:run --info

ntp.pool=pool.ntp.org
network.id=240

genesis.use_olympia=true
# Change these values to match your Olympia node
# if using RadixShell, you can use
# `node.getInstance(Key.get(ECPublicKey.class, Self.class)).toHex();`
# to get its public key.
genesis.olympia.node_core_api_url=http://127.0.0.1:3333/
genesis.olympia.node_public_key=
