# This config is intended to allow a single validator to run natively in the development environment,
# and sets it up so that it uses an Olympia node as a source for its genesis transaction.
# It matches up with "Run Single Validator Olympia Genesis" IntelliJ run task, which runs:
# RADIXDLT_HOST_IP_ADDRESS=127.0.0.1 RADIXDLT_NODE_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY= ./gradlew :core:run --info

network.id=240

genesis.use_olympia=true
genesis.olympia.node_core_api_url=http://127.0.0.1:9002/
genesis.olympia.node_core_api_auth_user=alice
genesis.olympia.node_core_api_auth_password=alice
genesis.olympia.node_bech32_address=dn1q0llj774w40wafpqg5apgd2jxhfc9aj897zk3gvt9uzh59rq9964v2swj9m
