# THIS CONFIGURATION IS NOT INTENDED FOR PRODUCTION USE
# See https://docs.radixdlt.com for details on running a node in production
# This config is intended to allow a single node to run natively in the development environment

network.id=2

node.key.path=.//NODEMOUNT/stokenet/key/node.ks
node.key.create_if_missing=true

db.location=.//NODEMOUNT/stokenet/ledger
db.location.node=.//NODEMOUNT/stokenet/node

network.p2p.seed_nodes=radix://node_tdx_2_1qv89yg0la2jt429vqp8sxtpg95hj637gards67gpgqy2vuvwe4s5ss0va2y@13.126.248.88,radix://node_tdx_2_1qvtd9ffdhxyg7meqggr2ezsdfgjre5aqs6jwk5amdhjg86xhurgn5c79t9t@13.210.209.103,radix://node_tdx_2_1qwfh2nn0zx8cut5fqfz6n7pau2f7vdyl89mypldnn4fwlhaeg2tvunp8s8h@54.229.126.97,radix://node_tdx_2_1qwz237kqdpct5l3yjhmna66uxja2ymrf3x6hh528ng3gtvnwndtn5rsrad4@3.210.187.161

network.p2p.discovery_disabled=true

network.host_ip=127.0.0.1
