/*
 * Engine State API - Babylon (Anemone)
 * This API provides a complete view of the current ledger state, operating at a relatively low level (i.e. returning Entities' data and type information in a generic way, without interpreting specifics of different native or custom components).  It mirrors how the Radix Engine views the ledger state in its \"System\" layer, and thus can be useful for Scrypto developers, who need to inspect how the Engine models and stores their application's state, or how an interface / authentication scheme of another component looks like. 
 *
 * The version of the OpenAPI document: v0.0.1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.radixdlt.api.engine_state.generated.api;

import com.radixdlt.api.engine_state.generated.client.ApiClient;
import com.radixdlt.api.engine_state.generated.client.ApiException;
import com.radixdlt.api.engine_state.generated.client.ApiResponse;
import com.radixdlt.api.engine_state.generated.client.Pair;

import com.radixdlt.api.engine_state.generated.models.EntityInfoRequest;
import com.radixdlt.api.engine_state.generated.models.EntityInfoResponse;
import com.radixdlt.api.engine_state.generated.models.EntityIteratorRequest;
import com.radixdlt.api.engine_state.generated.models.EntityIteratorResponse;
import com.radixdlt.api.engine_state.generated.models.ErrorResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
public class EntitiesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public EntitiesApi() {
    this(new ApiClient());
  }

  public EntitiesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Get Entity Info
   * Resolves basic information about an entity: its type, attached modules, fields/collections and blueprint. 
   * @param entityInfoRequest  (required)
   * @return EntityInfoResponse
   * @throws ApiException if fails to make API call
   */
  public EntityInfoResponse entityInfoPost(EntityInfoRequest entityInfoRequest) throws ApiException {
    ApiResponse<EntityInfoResponse> localVarResponse = entityInfoPostWithHttpInfo(entityInfoRequest);
    return localVarResponse.getData();
  }

  /**
   * Get Entity Info
   * Resolves basic information about an entity: its type, attached modules, fields/collections and blueprint. 
   * @param entityInfoRequest  (required)
   * @return ApiResponse&lt;EntityInfoResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EntityInfoResponse> entityInfoPostWithHttpInfo(EntityInfoRequest entityInfoRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = entityInfoPostRequestBuilder(entityInfoRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("entityInfoPost", localVarResponse);
        }
        return new ApiResponse<EntityInfoResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EntityInfoResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder entityInfoPostRequestBuilder(EntityInfoRequest entityInfoRequest) throws ApiException {
    // verify the required parameter 'entityInfoRequest' is set
    if (entityInfoRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'entityInfoRequest' when calling entityInfoPost");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/entity/info";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(entityInfoRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * List Entities
   * Lists addresses of all entities, in an iterator-like paged fashion
   * @param entityIteratorRequest  (required)
   * @return EntityIteratorResponse
   * @throws ApiException if fails to make API call
   */
  public EntityIteratorResponse entityIteratorPost(EntityIteratorRequest entityIteratorRequest) throws ApiException {
    ApiResponse<EntityIteratorResponse> localVarResponse = entityIteratorPostWithHttpInfo(entityIteratorRequest);
    return localVarResponse.getData();
  }

  /**
   * List Entities
   * Lists addresses of all entities, in an iterator-like paged fashion
   * @param entityIteratorRequest  (required)
   * @return ApiResponse&lt;EntityIteratorResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<EntityIteratorResponse> entityIteratorPostWithHttpInfo(EntityIteratorRequest entityIteratorRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = entityIteratorPostRequestBuilder(entityIteratorRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("entityIteratorPost", localVarResponse);
        }
        return new ApiResponse<EntityIteratorResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<EntityIteratorResponse>() {}) // closes the InputStream
          
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder entityIteratorPostRequestBuilder(EntityIteratorRequest entityIteratorRequest) throws ApiException {
    // verify the required parameter 'entityIteratorRequest' is set
    if (entityIteratorRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'entityIteratorRequest' when calling entityIteratorPost");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/entity/iterator";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(entityIteratorRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
