# Canonical configuration file
# All values are included and set to defaults, except where noted

####
## Node configuration
####

# The nodes signing key store.
# Default: node.ks
# node.key.path=node.ks

# The client API access port
# Default: 8080
cp.port=8080

####
## Consensus and mempool configuration
####

# Maximum number of unprocessed items that can be in the mempool before new
# items are rejected.
# Default: 1000
# mempool.maxSize=1000


####
## Messaging
####

# How long the inbound message queue can grow to, before inbound messages are
# discarded.
# Default: 8192
# messaging.inbound.queue_max=8192

# How long the outbound message queue can grow to, before outbound messages
# are discarded.
# Default: 16384
# messaging.outbound.queue_max=16384

# How long messages can be in the inbound or outbound queue before being
# discarded, in milliseconds.
# Default: 30000
# messaging.time_to_live=30000


####
## Network configuration
####

# Directly specifies the public IP address of this node.
# Default: Empty
# network.host_ip=

# List of public IP address oracles used to determine this hosts public IP
# address, if enabled.  Note that at least half of these oracles need to
# agree on the IP address before it will be accepted.
# Default: https://checkip.amazonaws.com/,https://ipv4.icanhazip.com/,https://myexternalip.com/raw,https://ipecho.net/plain,https://bot.whatismyipaddress.com/,https://www.trackip.net/ip,https://ifconfig.co/ip
# network.host_ip_query_urls=

# A comma separated list of seed node hostnames or IPs to use for discovery.
# Default: Empty
# network.p2p.seed_nodes=

# Default port to use for the seed nodes
# Default: 30000
# network.p2p.default_port=30000

# Specifies how often the discovery round is triggered (in milliseconds)
# Default: 120000
# network.p2p.discovery_interval=120000

# TCP address to bind to for listening to inbound connections.
# Default: 0.0.0.0
# network.p2p.listen_address=0.0.0.0

# TCP port to bind to for listening to inbound connections.
# Default: 30000
# network.p2p.listen_port=30000

# Specifies whether the server should process the PROXY header for inbound connections.
# Default: false
# network.p2p.use_proxy_protocol=false

# TCP port to broadcast to other peers (if different than listen_port - e.g. when port forwarding is used).
# Default: <defaults to listen_port>
# network.p2p.broadcast_port=30000

# Specifies the connection timeout for outbound connection (in milliseconds).
# Default: 5000
# network.p2p.peer_connection_timeout=5000

# Maximum number of inbound channels this node will accept.
# Once this threshold is reached, new connections are dropped.
# Default: 1024
# network.p2p.max_inbound_channels=1024

# Maximum number of outbound channels this node will open.
# Once this threshold is reached, new connections are dropped.
# Default: 1024
# network.p2p.max_outbound_channels=1024

# The buffer size of incoming messages for each TCP connection.
# Default: 255
# network.p2p.channel_buffer_size=255

# Specifies how often a ping message is sent.
# Default: 10000
# network.p2p.peer_liveness_check_interval=10000

# A timeout for receiving a pong message.
# Default: 5000
# network.p2p.ping_timeout=5000

# A maximum number of addresses (URIs) that the address book can hold.
# Default: 2000
# network.p2p.address_book_max_size=2000

# A hint (not a strict limit) for the address book
# specifying how long it should store node addresses
# that failed the handshake. In milliseconds.
# Default: 1800000 (= 30 minutes)
# network.p2p.address_book_max_size_ms=1800000

####
## Database configuration
####

# Lower bound for db.cache_size.
# Default: greater of 10000000 or 1% of available memory
# db.cache_size.min=

# Upper bound for db.cache_size.
# Default: 5% of available memory
# db.cache_size.max=

# The actual cache size to use for each BerkeleyDB instance -
# there are two so the total cache size used by the application is double this value.
# Adjusted to be within the bounds of db.cache_size.min and db.cache_size.max
# Default: 2% of available memory
# db.cache_size=

# Location to create/find database files.
# Default: ./RADIXDB
# db.location=./RADIXDB


####
## Debug configuration
####

# Number of vertices included in the debug API vertex query response
# Default: 16
# api.debug.vertex_buffer_size=16

####
## API servers configuration
####

# Bind address for the ARCHIVE HTTP server
# Default is to bind to all local interfaces
# api.archive.bind.address=0.0.0.0

# Bind address for the NODE HTTP server
# Default is to bind to all local interfaces
# api.node.bind.address=0.0.0.0

####
## Ledger genesis configuration
####

# Whether Olympia node should be used
# genesis.use_olympia=false

# The End State API URL (which is different from the Core API) of the Olympia node to be used for genesis
# genesis.olympia.node_end_state_api_url=

# (Optional) Basic auth username for Olympia node End State API
# genesis.olympia.node_end_state_api_auth_user=

# (Optional) Basic auth password for Olympia node End State API
# genesis.olympia.node_end_state_api_auth_password=

# A bech32-encoded address of the Olympia node to be used for genesis
# genesis.olympia.node_bech32_address=
