name: Deploy And SmokeTests

on:
  push:
    branches:
      - develop

jobs:
  cancel_running_workflows:
    name: Cancel running workflows
    runs-on: ubuntu-22.04
    steps:
      - name: cancel running workflows
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
  deploy:
    name: Deploy to Gilganet
    runs-on: ubuntu-22.04
    steps:
      - name: Deploy
        uses: toptal/jenkins-job-trigger-action@1.0.0
        with:
          jenkins_url: "${{ secrets.JENKINS_URL }}"
          jenkins_user: ${{ secrets.JENKINS_USER }}
          jenkins_token: ${{ secrets.BABYLON_NODE_JENKINS_API_TOKEN }}
          job_name: "v2-jobs/job/babylon-deploy-main"
          job_params: |
            {
              "NETWORK_NAME":"gilganet",
              "FEATURE_BRANCH_NAME":"develop",
              "WIPE_LEDGER":true
            }
          job_timeout: "3600"
  smoke_test:
    needs:
      - deploy
    name: Run smoke tests
    runs-on: ubuntu-22.04
    steps:
      - name: SmokeTests
        uses: toptal/jenkins-job-trigger-action@1.0.0
        with:
          jenkins_url: "${{ secrets.JENKINS_URL }}"
          jenkins_user: ${{ secrets.JENKINS_USER }}
          jenkins_token: ${{ secrets.BABYLON_NODE_JENKINS_API_TOKEN }}
          job_name: "v2-jobs/job/babylon-testnet-smoke-tests"
          job_params: |
            {"networkName":"gilganet"}
          job_timeout: "3600"